Kernel/obj
Kernel/kernel.bin
Kernel/src/Lua/*.o
Kernel/src/Lua/liblua.a
Kernel/dump
Kernel/gdbcommands
Kernel/ksyms.elf
Loader/obj
Loader/loader.bin
Loader/dump
kernel.bin
Kernel/include/version.h
obj
dump
*~
*gch
tags
*pyc
*.swp
*.swo
